<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_171_180.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#171 데이터 출력하기 for와 range를 이용하여
price_list = [32100, 32150, 32000, 32500]
for price in range(32000, 33000):
    #if price == price_list: 리스트전체와 비교하는 것이라 False
    if price in price_list: #if에 in을 쓰면 리스트 안의 것을 탐색할 수 있음.
         print(price)

32000
32100
32150
32500

In [14]:
#172 쌍을 가진 데이터를 출력하라. for와 range문 사용
#for price in range(32000, 33000):
   # if price in price_list:
   #     for i, data in enumerate(price_list):
   #         print(i, data)

for i, data in enumerate(price_list):
     if 32000 <= data < 33000:
        print(i, data)

0 32100
1 32150
2 32000
3 32500

In [26]:
#173 리스트의 데이터를 출력하라 ★이건 못푼 문제
#3 32100
#2 32150
#1 32000
#0 32500
for i in range(len(price_list)): #아이템의 갯수만큼 범위를 정함
    print((len(price_list) -1) -i, price_list[i]) #아이템의 갯수에서 -1한거에(그래야 인덱스가 되니까) i씩 감소, 프라이스

3 32100
2 32150
1 32000
0 32500

In [28]:
#174 데이터 출력 문제
# 100 32150
# 110 32000
# 120 32500
#이렇게 출력하기
hund=[100,110,120]
j= 0
for j,i in enumerate(price_list):
    if i != 32100:
        print(100+j*10,i)

110 32150
120 32000
130 32500

In [35]:
#175 가 나 /나 다 / 다 라 의 식으로 출력하라.
my_knd = ["가", "나", "다", "라"]
for i in range(len(my_knd)-1):
    print(my_knd[i], my_knd[i+1])

가 나
나 다
다 라

In [36]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [43]:
#177
for i in range(len(my_list)-1):
    print(my_list[(len(my_list)-1)-i], my_list[(len(my_list)-2)-i])

마 라
라 다
다 나
나 가

In [44]:
#178 우측값과의 차분값을 화면에 출력하라.
chabun = [100, 200, 400, 800]
for i in range(len(chabun)-1):
    print(chabun[i] - chabun[i+1])

-100
-200
-400

In [46]:
#179 3일 씩 평균을 내라
pyung = [100, 200, 400, 800, 1000, 1300]
for i in range(len(pyung)-2):
    print((pyung[i]+ pyung[i+1]+pyung[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [49]:
#180 변동폭 리스트 만들기
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility =[]
for i in range(0, 5):
    volatility.append(high_prices[i]-low_prices[i])
    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]