<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_31_40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#31. 결과를 예상해보세요
c = "3"
b = "4"
print(c + b)
#예상 = 34 문자열끼리 더한거로 쳐서 string으로 유지될것으로 보임
#답 = 34

34

In [ ]:
#32. 결과를 예상해보세요
print("Hi" * 3)
#예상 = HIHIHI 같은 문자열 반복 요청으로 보임
#답 Hi Hi Hi

In [ ]:
#33. 화면에 -를 80개 출력하세요
#답
t = "-"
print(t * 80)
#배운점 -

In [ ]:
#34. 변수에 문자열 더하기와 곱하기를 사용해서
#python java python java python java를 출력하기
t1 = "python"
t2 = "java"
result = (t1 + " " + t2 + " ") * 4
print (result)

#배운점 문자열끼리의 조합 때 띄어쓰기는 따로 넣어줘야 한다.

In [ ]:
#35. 변수에 문자열과 정수가 바인디 되어있을 때
#%formatting 을 사용해서 이름: 김민수 나이: 10 이렇게 출력해보세요
name1 = "김민수"
age = 10
print("이름: %s 나이: %d" % (name1, age))
#배운점 c언어에서의 프린트 대치문자와 같다. 다른점은 사용할때 %로 묶어야 하는 점이다.

In [ ]:
#36. format()을 사용해서 35번 다시 풀기
print("이름 : {} 나이: {}".format(name1, age))

In [ ]:
#37.f-string을 사용해서 35번 문제 풀어보기
#f-string 사용법 print(f"문자열{name1} 문자열 {age})
print(f"이름 : {name1} 나이 : {age}")
#배운점

In [ ]:
#38 상장주식수의 컴마를 제거한 후 이를 정수타입으로 변환
a = "5,969,782,550"
a_2= a.replace(",", "")
print(int(a_2))
#배운점

5969782550

In [ ]:
#39. 2020/03(E) (IFRS연결) 에서 2020/03만 출력하세요
g ="2020/03(E) (IFRS연결)"
print(g[:7])
#배운점

2020/03

In [ ]:
#40.문자열의 좌우 공백 제거
data = "   삼성전자  "
print(data, sep="")

   삼성전자