<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_141_150.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#141 판매가 리스트에 부가세 10원을 붙인 가격을 for문을 사용해서 출력하라
리스트 = [100, 200, 300]
for i in 리스트:
    print(10+i)

110
210
310

In [ ]:
#142 for문을 사용해서 다음과 같이 출력하라
#오늘의 메뉴 : xx
메뉴 = ["김밥", "라면", "튀김"]
for menu in 메뉴:
    print("오늘의 메뉴 :", menu)

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [ ]:
#143 주식종목 이름의 문자열의 길이를 출력하라
stock = ["sk하이닉스", "삼성전자","LG전자"]
for stocklen in stock:
    print(len(stocklen))

6
4
4

In [ ]:
#144 동물 글자수를 다음과 같이 출력하라
animal = ["dog", "cat", "parrot"]
for animalen in animal:
    print(animalen, len(animalen))

dog 3
cat 3
parrot 6

In [ ]:
#145 동물의 첫 글자만 출력하라
for animalfirst in animal:
    print(animalfirst[:1])

d
c
p

In [ ]:
#146 리스트의 숫자를 3 x 1 = 3, 3 x 2 = 6 이렇게 출력하라
numlist = [1, 2, 3]
for num in numlist:
    print(3, f"x {num} =", 3*num )

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
#147

In [ ]:
#148 다음 리스트에서 "나" "다" "라" 만 출력하라
kanada= ["가", "나", "다", "라"]
for nadara in kanada:
    if nadara == "가":
        continue
    print(nadara)

나
다
라

In [ ]:
#149 리스트에서 가, 다만 출력하라
for kada in kanada[0:3:2]:
    print(kada)

가
다

In [ ]:
#150 라 다 나 가 이렇게 출력하라
for radana in kanada[-1:-5:-1]:
    print(radana)

라
다
나
가