<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_011_020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#11번. 삼성전자라는 변수로 50,000을 바인딩하기. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하기
#답
samsung = 50000
total = samsung * 10
print(f"삼성전자 10주 총 평가금액: {total:,} 원")

#or
#배운점 (f "total:,}")하면 자릿수가 찍힌다/
#코랩은 구글 크롬에서 안정적으로 돌아가고 사파리나 다른 브라우저에서는 오류가 잦음.

삼성전자 10주 총 평가금액: 500,000 원

In [ ]:
#or
a = 50000
b = 10
result = a * b

print(result)
#배운점 간단하게 표현하기

500000

In [ ]:
#12번. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

#시가총액	298조
#현재가	50,000원
#PER	15.79
#답
totalnum = 298000000000000
now = 50000
PER = 15.79
print(f"{totalnum:,}")
print(now)
print(PER)
#배운점 -

298,000,000,000,000
50000
15.79

In [ ]:
#13번. s = "hello" t ="python"을 이용해서 hello! python을 출력
#답
s = "hello"
t = "python"
print(s+"!", t)
#배운점 +로 연결하면 띄어쓰기가 사라지고 ,만 있으면 띄어쓰기로 친다.

hello! python

In [ ]:
#14번. 2 + 2 * 3의 결과를 알아보자
#답
a = 2
b = a
c = 3
result = a + b * c
print(result)
#배운점 -

8

In [ ]:
#15번. a ="132"의 타입을 판별하세요
#답
a = "132"
print(type(a))
#배운점 - 타입판별법

<class 'str'>

In [ ]:
#16번. 문자열 "720"을 정수형으로 변환해보세요
#답
num_str = "720"
print(int(num_str))
print(type(int(a)))
#배운점 -

720
<class 'int'>

In [ ]:
#17번.정수를 문자열로 변환
#답
a = 100
print(str(a))
print(type(str(a)))
#배운점 -

100
<class 'str'>

In [ ]:
#18번.문자열을 실수로 변환 문자열 "15.79를 실수 타입으로 변환하기"
#답
a = "15.79"
print(float(a))
print(type(float(a)))
#배운점 -

15.79
<class 'float'>

In [ ]:
#19번. 문자열 타입의 연도를 바인딩하는걸 정수로 변환하고 최근 3년의 연도를 출력
#답
year = "2020"
print(int(year), int(year)-1, int(year)-2)
#배운점 -

2020 2019 2018

In [ ]:
#20번. 에이컨이 월 48,584원 무이자 36개월 조건으로 홈쇼핑에서 판매되고 있다. 총 금액을 계산하고 출력
#답
aircondit = 48584
nointerest=36
totalcost= aircondit * nointerest
print(f"총합계는 :{totalcost:,}")
#배운점 -

총합계는 :1,749,024

In [ ]:
""