<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_61_70.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#61 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])
#배운 점 : -

[100, 130, 140, 150, 160, 170]

In [ ]:
#62 슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#numsodd = nums.odd()
print(nums[::2])
#배운 점 : 홀수값을 내주는 함수나 메서드는 없다. 리스트 추출은 [첫인덱스: 끝인덱스: 증가값]

[1, 3, 5, 7, 9]

In [ ]:
#63 슬라이싱을 사용해서 짝수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])
#배운 점 : -

[2, 4, 6, 8, 10]

In [ ]:
#64 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums1 = [1, 2, 3, 4, 5]
print(nums1[::-1])
#배운 점 : -1을 하면 뒤의 번호로 간다.

[5, 4, 3, 2, 1]

In [ ]:
#65 interest 리스트를 사용하여 삼성전자, naver만 출력하라
interest = ["samsung", "LG", "naver"]
print(interest[0],interest[2])
#배운 점 : 리스트에서 아이템을 추출할 때는 interest[0, 2] 이런식으로 하면 안된다.

samsung naver

In [ ]:
#66 interest 리스트를 사용하여 삼성전자, naver만 출력하라
interest1 = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
#interest2= del interest1[0]
del interest1[0]
print(interest1)
#배운 점 : del은 명령어고 값을 반환하는게 아니라서 변수로 지정 못한다.
#그래서 다른 메서드나 함수처럼 작용하지 않음.

['LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [ ]:
#67 위의 리스트를 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우 이렇게 출력하라
interest1.insert(0, "삼성전자")
print("/".join(interest1))
#배운 점 : join메서드는 앞의 " " 안에 있는 것으로 아이템 간의 구분을 짓게 한다.

삼성전자/LG전자/삼성전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
#68 join의 메서드를 이용해서 아이템하나 당 줄바꿈 적용해서 출력하라.
print("\n".join(interest1))
#배운 점 : \n는 c언어에서도 작동하고 파이썬에서도 작동한다.

삼성전자
LG전자
삼성전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#69  string = "삼성전자/LG전자/NAVER"을 interest 이름의 리스트로 분리 저장
string = "삼성전자/LG전자/NAVER"
interest3 = string.split("/")
print(interest3)
#배운 점 : .split("여기에 들어간 구분자를 기준 삭제하고 아이템을 나눠 리스트로 반환한다.")

['삼성전자', 'LG전자', 'NAVER']

In [ ]:
#70 오름차순으로 정렬하라
data = [2, 4, 3, 15, 23, 21, 6]
data.sort()
print(data)

[2, 3, 4, 6, 15, 21, 23]