<a href="https://colab.research.google.com/github/chocksummersalt/hightech/blob/main/250305%ED%95%98%EC%9D%B4%ED%85%8C%ED%81%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = 10
b = 10
c = a + b
print(c)

20

markdown

In [ ]:
a = ["A", "B+","B", 20, 25, 30]
print("a[2] =", a[2])
b = [53, 42, 32]

a[0] = 100; print(a)

d = [a, b]

print(d[0][2])

a[2] = B
[100, 'B+', 'B', 20, 25, 30]
B

In [ ]:
tu_ex = ("a", [1, 2, 3], 132)
print(tu_ex)
tu_ex[1][0] = 10
tu_ex

('a', [1, 2, 3], 132)

('a', [10, 2, 3], 132)

In [ ]:
def double(num):
  """function to double the value"""
  return 2*num
print(double.__doc__)

function to double the value

In [ ]:
a = [1, "a", [1, 2, 3]]
a[0] = 10
print(a)

[10, 'a', [1, 2, 3]]

In [ ]:
b = (1, "a", [1, 2, 3])
b[2][0] = [4, 5, 6]
print(b)

(1, 'a', [[4, 5, 6], 2, 3])

In [ ]:
c = (0000, [])
c

In [ ]:
str = {1, 2, 3}
list_enumerate = dict(enumerate(str))
print('list (enumerate(str) =', list_enumerate)

list (enumerate(str) = {0: 1, 1: 2, 2: 3}

In [7]:
a = {5, 2, 3, 1, 4}

print("a = ", a)

print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>