<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_221_230.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#221 입력된 문자열을 역순으로 출력하는 함수를 정의하라
def print_reverse(string) :
    print(string[::-1])
print_reverse("뭘넣을까")

까을넣뭘

In [ ]:
#222 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
def avg(a, b, c, d):
    print((a+b+c+d)/4)
avg(10,20,30,40)

25.0

In [ ]:
#223 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

def even (my_list):
    for v in my_list:
        if v%2==0:
            print(v)


even([1,2,3,4,5,6,7,8])

2
4
6
8

In [ ]:
#224 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.
def dictkey (my_dict):
    a= my_dict.keys()
    print(a)
dictkey({"zl":1,"dl":2,"lf":151})

dict_keys(['zl', 'dl', 'lf'])

In [ ]:
#225 my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 함수를 정의하라.
my_di={"10/26" : [100,130,100,100], "10/27" : [10,20,10,11]}
def print_value_key (my_di, key) :
    print(my_di[key])
print_value_key(my_di, "10/26")

[100, 130, 100, 100]

In [ ]:
#226 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.
입력="아임어보이유알어걸"
def 입력문자열5 ():
    for i in 입력
    print(입력"\n")

In [ ]:
#227 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

In [ ]:
#228 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라

In [ ]:
#229 코드의 실행 결과를 예측하라.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

In [ ]:
#230 코드의 실행 결과를 예측하라.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100