<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_71_80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#71. my_variable 이름의 비어있는 튜플을 만들자.
my_variable = (1, 2, 3)
print(my_variable, type(my_variable))
#배운 점 튜플은 괄호안에 넣어서 만든다.

(1, 2, 3) <class 'tuple'>

In [ ]:
#72. 영화제목을 movie_rank 이름의 튜플에 저장하라.
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
#73. 숫자 1이 저장된 튜플을 생성하자
one = (1)
print(one)
#배운 점

1

In [ ]:
#74. 다음 코드에서 오류가 발생하는 원인을 설명하라.
""">> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment"""
#답:튜플은 수정이 불가능한데 수정하려 해서.
#배운 점 튜플에는 아이템을 추가제거 할 수 없다.

In [ ]:
#75 t가 바인딩하는 데이터 타입은?
t = 1, 2, 3, 4
print(type(t))
#배운 점 튜플 생성규칙 없이 숫자만 나열하더라도 튜플이 생성된다.

<class 'tuple'>

In [ ]:
#76 변수 t1이 ('A', 'B', 'c')튜플을 가리키도록 수정하라
t1 = ('a', 'b', 'c')
print(t1)
#답 변경불가
#배운 점

('a', 'b', 'c')

In [ ]:
#77 다음 튜플을 리스트로 변환하라
interest4 = ('삼성전자', 'LG전자', 'SK Hynix')
u = list(interest4)
print(u)
#배운 점 리스트 변환법 앞에 list를 씌운다

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
#78 리스트를 튜플로 변경하라.
interest5 = ('삼성전자', 'LG전자', 'SK Hynix')
i = tuple(interest5)
print(i)
#배운 점 튜플도 앞에 튜플을 씌워주면 변경된다.

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
#79 다음 코드의 결과를 예상하라
temp = ("apple", "banana", "cake")
a, b, c = temp
print(a, b, c)
#배운 점 언패킹이라는 개념인데 아이템의 갯수에 맞게 변수를 할당할 수 있음. 한번에 처리하기 용이하다.

apple banana cake

In [ ]:
#80 1부터 99까지 정수 중 짝수만 저장된 튜플을 생성하라.
p = tuple(range(0,99,2))
print(p, type(p))
#배운 점 range 함수의 사용법 (시작숫자, 끝숫자, 증가숫자)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>