<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%9C%84%ED%82%A4%EB%8F%85%EC%8A%A4_161_170.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#161 for 과 range를 사용해서 0~99까지 한라인에 하나씩 출력하는 프로그램 제작하라.
for i in range(0, 100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
#162 월드컵은 4년에 한번 개최된다 range를 사용하여 2002와 2050중 개최되는 연도를 출력하라
for wc in range(2002, 2051, 4):
    print(wc)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [4]:
#163 3의 배수를 출력하라
for triple in range(1,31):
    if triple % 3 == 0:
        print(triple)

3
6
9
12
15
18
21
24
27
30

In [5]:
#164 1씩 감소하는 숫자들을 한 라인에 하나씩 출력하라
for degret in range(99,-1,-1):
    print(degret)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [8]:
#165 0.0부터 0.9까지의 실수를 for문을 사용해서 증가하게 출력하라.
#for flt in range(0.0, 1,0.1):
 #   print(flt)

 #10까지 설정 한 후 10으로 나누어주면 실수가 된다는 점.

for flt in range(10):
    print(flt/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [12]:
#166 구구단 3단을 출력하라
t = 3
for tr in range(1,10):
    print (t ,"X", tr ,"=",  t*tr)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [15]:
#167 3단 중 홀수 번째만 출력한다.
t = 3
odd = 2
for tr in range(1,10):
    if tr % odd !=0:
     print (t ,"X", tr ,"=",  t*tr)

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [20]:
#168 1부터 10까지 숫자를 모두 더하는 프로그램을 for문으로 작성하라
lst= []
for hap in range(1, 11):
    a = lst.append(hap)
b = sum(lst)
print(b)

55

In [23]:
#169 1 부터 10까지 홀수의 합을 더하는 프로그램을 for문으로 작성하라
lst2 = []
for ohap in range(1, 11):
    if ohap % 2 != 0:
     o = lst2.append(ohap)
oh = sum(lst2)
print(oh)

25

In [27]:
#170 1부터 10까지 곱한값
gp =[]
for gop in range(1, 11):
    a = gp.append(gop * (gop+1)) #식을 append에 바로 넣어주자.
print(sum(gp)) #append는 none을 반환한다는 걸 잊지말자.

440