<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/high_tech_class/%ED%95%98%EC%9D%B4%ED%85%8C%ED%81%AC_Set%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98_%EA%B3%BC%EC%A0%9C_AISW%EC%A1%B0%EC%84%B1%EB%AF%BC250317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##set내장함수
|function|해석|
|------|---|
|all()|모든 아이템이 True면 True를 반환한다(혹은 Set이 비어있는 경우에도 True를 반환한다|
|any()|하나의 아이템이라도 True면 True를 반환한다. 만약 Set이 비어있는 경우에는 False를 반환한다.|
|enumerate()|인덱스와 숫자 쌍을 생성한다.|
|len()|중복되지 않은 아이템의 갯수 또는 문자열의 길이를 반환함 |
|max()|아이템 중 가장 큰수의(맨뒤의 알파벳) 아이템을 반환함.|
|min()|아이템 중 가장 수가 작은(알파벳의 맨앞 순서) 아이템을 반환함.|
|sorted()|아이템들을 오름차순으로 정리해서 새 set를 반환한다.|
|sum()|Set 안에서의 모든 아이템들의 합을 반환한다.|

In [ ]:
St = {3, 3, 1, 1, 2, 2}
print(all(St))

St_1 = {3, 3, 1, 1, 2, 2, 0}
print(all(St_1))

True
False

In [ ]:
St = {3, 3, 1, 1, 2, 2}
print(any(St))

St_1 = {3, 3, 1, 1, 2, 2, ""}
print(any(St_1))

St_2 = {3, 3, 1, 1, 2, 2, 0}
print(any(St_2))

St_3 = {0}
print(any(St_3))

St_4 = {0, ""}
print(any(St_4))

St_5 = {}
print(any(St_5))

True
True
True
False
False
False

In [ ]:
st_6 = {1, 2, 2, 3, "apple"}
print(enumerate(st_6))
#enumerate(st_6)이 참조하고 있는 메모리 주소값을 반환.
#실제 값을 정해줄 수 있는 반복 연산이 가능한 형태로 변환해야함.
#list로 변경후 출력.
st_6 = {1, 2, 2, 3, "apple"}
st_6_list = list(enumerate(st_6))
print(st_6_list)

<enumerate object at 0x7e67261d9c10>
[(0, 1), (1, 2), (2, 3), (3, 'apple')]
0 1
1 2
2 3
3 apple

In [ ]:
st_7 = {1, 2, 2, 3, "apple"}
print(len(st_7))

st_7_1 = {1, 2, 4, 3, "apple"}
print(len(st_7_1))

4
5

In [ ]:
st_8 = {1, 2, 2, 3}
print(max(st_8))

st_9 = {"pinetree", "apple", "banana"}
print(max(st_9))

"""st_8 = {1, 2, 2, 3, "apple"}
print = max(st_8)"""
#문자형과 정수형이 함께 max함수에 쓰일 수 없음.

3
pinetree

'st_8 = {1, 2, 2, 3, "apple"}\nprint = max(st_8)'

In [ ]:
st_10 = {1, 2, 2, 3}
print(min(st_10))

st_11 = {"pinetree", "apple", "banana"}
print(min(st_11))

#문자형과 정수형이 함께 max함수에 쓰일 수 없음.

1
apple

In [ ]:
st_12 = {3, 2, 5, 1}
print(sorted(st_12))

st_13 = {"pinetree", "apple", "banana"}
print(sorted(st_13))

#문자형과 정수형이 함께 max함수에 쓰일 수 없음.

[1, 2, 3, 5]
['apple', 'banana', 'pinetree']

In [ ]:
st_14 = {3, 2, 5, 1}
print(sum(st_14))

"""st_15 = {"pinetree", "apple", "banana"}
print(sum(st_15))"""
#문자형이 sum함수에 쓰일 수 없음.

11

'st_15 = {"pinetree", "apple", "banana"}\nprint(sum(st_15))'