<a href="https://colab.research.google.com/github/chocksummersalt/python/blob/main/%EC%A1%B0%EC%84%B1%EB%AF%BC_25%ED%95%98%EC%9D%B4%ED%85%8C%ED%81%AC_tuple%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98_%EA%B3%BC%EC%A0%9Cipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## tuple 내장 함수

| 함수  |            설명             |
|-------|---------------------------|
|+|튜플간 연결|
|*|튜플의 아이템을 *-정수-의 갯수만큼 반복해서 튜플 생성|
|len()|튜플내에 있는 아이템의 갯수를 출력합니다.|
|max()|튜플에서 가장 큰 값 반환|
|min()|튜플에서 가장 작은 값 반환|
|sum()|튜플의 아이템들의 합을 반환|
|index(value)|value위치 출력|
|count(value)|value가 몇 번 나오는지 출력|
|sorted()|튜플을 정렬한 list로 반환|
|tuple(reversed())|튜플의 아이템을 역순의 튜플로 반환 tuple이나 list안쓰면 메모리 주소 반환. 반복사용은 가능하나 메모리절약을 위해 값을 보여주진 않음.|

In [ ]:
##+()
tupla = (1, 2, 3, 4, 5)
tuplb = ("a", "v", "c", "d")
print(tupla + tuplb)

(1, 2, 3, 4, 5, 'a', 'v', 'c', 'd')

In [ ]:
##*
tupla = (1, 2, 3, 4, 5)
print(tupla * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
##len()
tupla = (1, 2, 3, 4, 5)
tuplb = ("a", "v", "c", "d")
print(len(tupla))
print(len(tuplb))

5
4

In [16]:
##max()
tupla = (1, 2, 3, 4, 5)
tuplb = ("a", "v", "c", "d")
print(max(tupla))
print(max(tuplb))
#print(max(tupla+tuplb))#숫자와 문자 사이에는 비교기능이 작동하지 않음.

5
v

In [18]:
##min()
tupla = (1, 2, 3, 4, 5)
tuplb = ("a", "v", "c", "d")
print(min(tupla))
print(min(tuplb))

15

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
##sum()
tupla = (1, 2, 3, 4, 5)
tuplb = ("a", "v", "c", "d")
print(sum(tupla))
#print(sum(tuplb)) - 문자열은 합이 안된다.

In [22]:
##변수명.count() 괄호내의 요소를 튜플에서 찾아 갯수를 반환한다.
tuplc = (1, 2, 3, 4, 5, 5, 5, 5)
tupld = ("a", "v", "c", "d", "a", "a")
print(tuplc.count(5))
print(tupld.count("a"))

4
3

In [26]:
##변수명.index()
tupla = (1, 2, 3, 4, 5)
tuplb = ("a", "v", "c", "d")
print(tupla.index(5))
print(tuplb.index("c"))

4
2

In [24]:
##sorted()
tuble = (2, 3, 1, 5, 4)
tuplb = ("a", "v", "c", "d")
print(sorted(tupla))
print(sorted(tuplb))

[1, 2, 3, 4, 5]
['a', 'c', 'd', 'v']

In [1]:
#tuple(revered())
tupla = (1, 2, 3, 4, 5)
tuplb = ("a", "v", "c", "d")
print(reversed(tupla)) #데이터 위치 주소를 전달해줌.
print(tuple(reversed(tuplb)))

<reversed object at 0x7c0070202650>
136341324395952
('d', 'c', 'v', 'a')